# Exercice 6 methode brute force

### Résolution QST 06 du TP1

In [1]:
import itertools

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.special import comb, factorial as fac

In [2]:
valeurs_cartes = ["2", "3", "4", "5", "6", "7", "8", "9", "10", "Valet", "Dame", "Roi", "As"]
couleurs_cartes = ["S", "H", "D", "C"]

### 2. Construction du jeu de carte

In [3]:
jeu = []
for valeur in valeurs_cartes:
    for couleur in couleurs_cartes:
        jeu.append(f"{valeur}{couleur}")
print("cartes dans le paquet :", len(jeu)) 
print(jeu)

cartes dans le paquet : 52
['2S', '2H', '2D', '2C', '3S', '3H', '3D', '3C', '4S', '4H', '4D', '4C', '5S', '5H', '5D', '5C', '6S', '6H', '6D', '6C', '7S', '7H', '7D', '7C', '8S', '8H', '8D', '8C', '9S', '9H', '9D', '9C', '10S', '10H', '10D', '10C', 'ValetS', 'ValetH', 'ValetD', 'ValetC', 'DameS', 'DameH', 'DameD', 'DameC', 'RoiS', 'RoiH', 'RoiD', 'RoiC', 'AsS', 'AsH', 'AsD', 'AsC']

### a Quelle est la probabilité que les deux premières cartes distribuées au joueur totalisent 21 points (blackjack) ?

In [4]:
tableau_c = pd.DataFrame(itertools.combinations(jeu, 2))
tableau_c.columns = tableau_c.columns + 1
tableau_c

        1    2
0      2S   2H
1      2S   2D
2      2S   2C
3      2S   3S
4      2S   3H
...   ...  ...
1321  AsS  AsD
1322  AsS  AsC
1323  AsH  AsD
1324  AsH  AsC
1325  AsD  AsC

[1326 rows x 2 columns]

In [5]:
df_favorables = tableau_c[((tableau_c[1].str[:-1] == 'As') & (tableau_c[2].str[:-1].isin(['Dame', 'Valet', 'Roi', '10']))) | ((tableau_c[2].str[:-1] == 'As') & (tableau_c[1].str[:-1].isin(['Dame', 'Valet', 'Roi', '10'])))]
print (df_favorables)

         1    2
1151   10S  AsS
1152   10S  AsH
1153   10S  AsD
1154   10S  AsC
1169   10H  AsS
...    ...  ...
1315  RoiD  AsC
1316  RoiC  AsS
1317  RoiC  AsH
1318  RoiC  AsD
1319  RoiC  AsC

[64 rows x 2 columns]

In [6]:
proba_bj = len(df_favorables) / len(tableau_c)
print("Probabilité :", proba_bj)

Probabilité : 0.048265460030165915

In [7]:
def verifier_blackjack(dt: pd.DataFrame) -> pd.DataFrame:
    dt.columns = dt.columns + 1
    res = dt[((dt[1].str[:-1] == 'As') & (dt[2].str[:-1].isin(['Dame', 'Valet', 'Roi', '10']))) | 
             ((dt[2].str[:-1] == 'As') & (dt[1].str[:-1].isin(['Dame', 'Valet', 'Roi', '10'])))]
    return res

In [14]:
tableau_c = pd.DataFrame(itertools.combinations(jeu, 2))
df_favorables = verifier_blackjack(tableau_c)
print("Nombre de cas favorables :", len(df_favorables))
df_favorables

Nombre de cas favorables : 64

         1    2
1151   10S  AsS
1152   10S  AsH
1153   10S  AsD
1154   10S  AsC
1169   10H  AsS
...    ...  ...
1315  RoiD  AsC
1316  RoiC  AsS
1317  RoiC  AsH
1318  RoiC  AsD
1319  RoiC  AsC

[64 rows x 2 columns]

### b) Si les deux premieres cartes distribuées sont une dame et un 5. Quelle est la probabilité qu’il perde aussitôt s’il demande une 3e carte ?

In [9]:
jeu_de50 = jeu.copy()
jeu_de50.remove("DameS")
jeu_de50.remove("5S")dadadadaadad

In [10]:
tableau_c_perte = pd.DataFrame(jeu_de50, columns=[0])
tableau_c_perte.columns = tableau_c_perte.columns + 1
tableau_c_perte

         1
0       2S
1       2H
2       2D
3       2C
4       3S
5       3H
6       3D
7       3C
8       4S
9       4H
10      4D
11      4C
12      5H
13      5D
14      5C
15      6S
16      6H
17      6D
18      6C
19      7S
20      7H
21      7D
22      7C
23      8S
24      8H
25      8D
26      8C
27      9S
28      9H
29      9D
30      9C
31     10S
32     10H
33     10D
34     10C
35  ValetS
36  ValetH
37  ValetD
38  ValetC
39   DameH
40   DameD
41   DameC
42    RoiS
43    RoiH
44    RoiD
45    RoiC
46     AsS
47     AsH
48     AsD
49     AsC

In [11]:
def verifier_si_perdu(une_carte):
    valeur_carte = une_carte[:-1]
    
    if valeur_carte in ["Valet", "Dame", "Roi"]:
        valeur_n = 10
    elif valeur_carte == "As":
        valeur_n = 1
    else:
        valeur_n = int(valeur_carte)
    total_actuel = 15
    nouveau_total = total_actuel + valeur_n
    return nouveau_total > 21

In [12]:
cartes_qui_font_perdre = tableau_c_perte[tableau_c_perte[1].apply(verifier_si_perdu)]
cartes_qui_font_perdre

         1
19      7S
20      7H
21      7D
22      7C
23      8S
24      8H
25      8D
26      8C
27      9S
28      9H
29      9D
30      9C
31     10S
32     10H
33     10D
34     10C
35  ValetS
36  ValetH
37  ValetD
38  ValetC
39   DameH
40   DameD
41   DameC
42    RoiS
43    RoiH
44    RoiD
45    RoiC

In [13]:
probabilite_perte = len(cartes_qui_font_perdre) / len(tableau_c_perte)
print("Probabilité :", probabilite_perte)

Probabilité : 0.54