# Exercice 6

### Résolution de la question 06 du TD

### Problème :

 Black Jack (règle simplifiée, pour un seul joueur) :
 • On utilise un seul jeu de 52 cartes. Chaque carte a une valeur :– de 2 à 10 : sa valeur faciale, ou nominale– une figure (valet, dame ou roi) : 10 points– un as : 1 ou 11 points, au gré du joueur.

 • La banque commence par distribuer deux cartes au joueur. Le joueur peut
 ensuite demander à la banque des cartes supplémentaires, une à une.

 • Il gagne s’il atteint exactement 21. Il perd s’il dépasse (strictement) 21. Il peut
 s’arrêter quand il veut.

 (a) Quelle est la probabilité que les deux premières cartes distribuées au joueur
 totalisent 21 points (blackjack) ?

 (b) Si les deux 1res cartes distribuées sont une dame et un 5. Quelle est la
 probabilité qu’il perde aussitôt s’il demande une 3e carte ?

### Produire une solution de 3 manières différentes :

1. De manière analytique (en utilisant des formules mathématiques).

1. En utilisant une méthode de force brute (en énumérant toutes les combinaisons possibles de manière séquentielle).

1. En utilisant une méthode probabiliste (en simulant un grand nombre de combinaisons de 4 lancers de dé de manière aléatoire).

## Code
### Import et configuration

In [7]:
import itertools

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.special import comb, factorial as fac

### Solution 1 (analytique)

A)  Quelle est la probabilité que les deux premières cartes distribuées au joueur
 totalisent 21 points (blackjack) ?

In [8]:
Nombre_de_cartes = 52
cartes_distribués = 2
nombre_as = 4
nombre_val10 = 16
combinaisons = math.comb(Nombre_de_cartes, cartes_distribués)
combi_de21 = nombre_as * nombre_val10
print(combi_de21 / combinaisons)

0.048265460030165915

B) Si les deux 1res cartes distribuées sont une dame et un 5. Quelle est la
 probabilité qu’il perde aussitôt s’il demande une 3e carte ?

In [9]:
#Valeur = 15 on cherche la probabilité que la prochaine carte fait perdre le joueur
cartes_restantes=50
nmbr_prochaines_cartesperd=27
tirage=1
chance_perte=27/50
print(chance_perte)

0.54

### Solution 2 ( Brute force )

In [10]:
Cartes = ['as', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'R', 'D', 'V'] # Créer les rangs
CARTES = [coul for coul in Cartes for _ in range(4)] # Créer 4 cartes de chaque rang
print(CARTES)

['as', 'as', 'as', 'as', '2', '2', '2', '2', '3', '3', '3', '3', '4', '4', '4', '4', '5', '5', '5', '5', '6', '6', '6', '6', '7', '7', '7', '7', '8', '8', '8', '8', '9', '9', '9', '9', '10', '10', '10', '10', 'R', 'R', 'R', 'R', 'D', 'D', 'D', 'D', 'V', 'V', 'V', 'V']

In [11]:
Cartes_rep = pd.DataFrame(itertools.combinations(CARTES, 2)) # Lister tous les cas possibles et les mettre dans un tableau
Cartes_rep.columns = Cartes_rep. columns + 1 #Avancer l'indice de 0 à 1
Cartes_rep # Afficher toutes les possibilités

       1   2
0     as  as
1     as  as
2     as  as
3     as   2
4     as   2
...   ..  ..
1321   V   V
1322   V   V
1323   V   V
1324   V   V
1325   V   V

[1326 rows x 2 columns]

In [12]:
res = Cartes_rep[(Cartes_rep[1] == 'as') &  (Cartes_rep[2].isin(['D', 'V', 'R', '10']))]
print(res)

      1   2
35   as  10
36   as  10
37   as  10
38   as  10
39   as   R
..   ..  ..
193  as   D
194  as   V
195  as   V
196  as   V
197  as   V

[64 rows x 2 columns]

In [13]:
print("La probabilité de gagner dès les deux premières cartes est de : ",len(res) / len(Cartes_rep))

La probabilité de gagner dès les deux premières cartes est de :  0.048265460030165915

In [14]:
def gagner_2_cartes (dt: pd.DataFrame, nb_crt: int) :
    Cartes_rep.columns = Cartes_rep. columns + 1 #Avancer l'indice de 0 à 1
    Cartes_rep # Afficher toutes les possibilités
    res = Cartes_rep[(Cartes_rep[1] == 'as') &  (Cartes_rep[2].isin(['D', 'V', 'R', '10']))]
    return(res)

In [15]:
Cartes_rep = pd.DataFrame(itertools.combinations(CARTES, 2))
gagner_2_cartes(Cartes_rep, nb_crt = 2)

      1   2
35   as  10
36   as  10
37   as  10
38   as  10
39   as   R
..   ..  ..
193  as   D
194  as   V
195  as   V
196  as   V
197  as   V

[64 rows x 2 columns]