# Résolution QST 06 du TP1

# a- la probabilité que les deux premières cartes distribuées totalisent 21 points (Blackjack)

## Code
### Import et configuration

In [2]:
import itertools

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.special import comb, factorial as fac

### Solution 1 (analytique)

In [ ]:
N = 16
n = 1 
p = 4 

omega = comb(52, 2)
print("Le nombre total de combinaisons possibles : ",omega)
poss = 16 * 4 
print("Le nombre de cas correspondant : " ,poss)
print("La probabilité de gagner dès les deux premières cartes est de : ", poss / omega)

### Solution 2 (force brute)

In [81]:
Cartes = ['as', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'R', 'D', 'V'] # Créer les rangs
CARTES = [coul for coul in Cartes for _ in range(4)] # Créer 4 cartes de chaque rang
print(CARTES)

['as', 'as', 'as', 'as', '2', '2', '2', '2', '3', '3', '3', '3', '4', '4', '4', '4', '5', '5', '5', '5', '6', '6', '6', '6', '7', '7', '7', '7', '8', '8', '8', '8', '9', '9', '9', '9', '10', '10', '10', '10', 'R', 'R', 'R', 'R', 'D', 'D', 'D', 'D', 'V', 'V', 'V', 'V']

In [82]:
Cartes_rep = pd.DataFrame(itertools.combinations(CARTES, 2)) # Lister tous les cas possibles et les mettre dans un tableau
Cartes_rep.columns = Cartes_rep. columns + 1 #Avancer l'indice de 0 à 1
Cartes_rep # Afficher toutes les possibilités

       1   2
0     as  as
1     as  as
2     as  as
3     as   2
4     as   2
...   ..  ..
1321   V   V
1322   V   V
1323   V   V
1324   V   V
1325   V   V

[1326 rows x 2 columns]

In [93]:
res = Cartes_rep[(Cartes_rep[1] == 'as') &  (Cartes_rep[2].isin(['D', 'V', 'R', '10']))]
print(res)

      1   2
35   as  10
36   as  10
37   as  10
38   as  10
39   as   R
..   ..  ..
193  as   D
194  as   V
195  as   V
196  as   V
197  as   V

[64 rows x 2 columns]

In [98]:
print("La probabilité de gagner dès les deux premières cartes est de : ",len(res) / len(Cartes_rep))

La probabilité de gagner dès les deux premières cartes est de :  0.048265460030165915

In [ ]:
def gagner_2_cartes (dt: pd.DataFrame, nb_crt: int) : 
    Cartes_rep.columns = Cartes_rep. columns + 1 #Avancer l'indice de 0 à 1
    Cartes_rep # Afficher toutes les possibilités 
    res = Cartes_rep[(Cartes_rep[1] == 'as') &  (Cartes_rep[2].isin(['D', 'V', 'R', '10']))]
    return(res)

In [120]:
Cartes_rep = pd.DataFrame(itertools.combinations(CARTES, 2))
gagner_2_cartes(Cartes_rep, nb_crt = 2)

      1   2
35   as  10
36   as  10
37   as  10
38   as  10
39   as   R
..   ..  ..
193  as   D
194  as   V
195  as   V
196  as   V
197  as   V

[64 rows x 2 columns]

### Solution 3 (probabiliste)

In [123]:
SEED = 1234

RNG = np.random.default_rng(SEED)   #Crée un générateur de nbr aléatoires

In [137]:
def rdm_exp(rng, Cartes): 
    return rng.permutations(Cartes).tolist()

AttributeError: 'numpy.random._generator.Generator' object has no attribute 'permutations'