# Résolution QST 06 du TP1

# a- la probabilité que les deux premières cartes distribuées totalisent 21 points (Blackjack)

## Code
### Import et configuration

In [2]:
import itertools

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.special import comb, factorial as fac

### Solution 1 (analytique)

In [104]:
N = 16
n = 1 
p = 4 

omega = comb(52, 2)
print("Le nombre total de combinaisons possibles : ",omega)
poss = 16 * 4 
print("Le nombre de cas correspondant : " ,poss)
print("La probabilité de gagner dès les deux premières cartes est de : ", poss / omega)

Le nombre total de combinaisons possibles :  1326.0
Le nombre de cas correspondant :  64
La probabilité de gagner dès les deux premières cartes est de :  0.048265460030165915

### Solution 2 (force brute)

In [81]:
Cartes = ['as', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'R', 'D', 'V'] # Créer les rangs
CARTES = [coul for coul in Cartes for _ in range(4)] # Créer 4 cartes de chaque rang
print(CARTES)

['as', 'as', 'as', 'as', '2', '2', '2', '2', '3', '3', '3', '3', '4', '4', '4', '4', '5', '5', '5', '5', '6', '6', '6', '6', '7', '7', '7', '7', '8', '8', '8', '8', '9', '9', '9', '9', '10', '10', '10', '10', 'R', 'R', 'R', 'R', 'D', 'D', 'D', 'D', 'V', 'V', 'V', 'V']

In [82]:
Cartes_rep = pd.DataFrame(itertools.combinations(CARTES, 2)) # Lister tous les cas possibles et les mettre dans un tableau
Cartes_rep.columns = Cartes_rep. columns + 1 #Avancer l'indice de 0 à 1
Cartes_rep # Afficher toutes les possibilités

       1   2
0     as  as
1     as  as
2     as  as
3     as   2
4     as   2
...   ..  ..
1321   V   V
1322   V   V
1323   V   V
1324   V   V
1325   V   V

[1326 rows x 2 columns]

In [93]:
res = Cartes_rep[(Cartes_rep[1] == 'as') &  (Cartes_rep[2].isin(['D', 'V', 'R', '10']))]
print(res)

      1   2
35   as  10
36   as  10
37   as  10
38   as  10
39   as   R
..   ..  ..
193  as   D
194  as   V
195  as   V
196  as   V
197  as   V

[64 rows x 2 columns]

In [98]:
print("La probabilité de gagner dès les deux premières cartes est de : ",len(res) / len(Cartes_rep))

La probabilité de gagner dès les deux premières cartes est de :  0.048265460030165915

In [116]:
def gagner_2_cartes (dt: pd.DataFrame, nb_crt: int) : 
    Cartes_rep.columns = Cartes_rep. columns + 1 #Avancer l'indice de 0 à 1
    Cartes_rep # Afficher toutes les possibilités 
    res = Cartes_rep[(Cartes_rep[1] == 'as') &  (Cartes_rep[2].isin(['D', 'V', 'R', '10']))]
    return(res)

In [120]:
Cartes_rep = pd.DataFrame(itertools.combinations(CARTES, 2))
gagner_2_cartes(Cartes_rep, nb_crt = 2)

      1   2
35   as  10
36   as  10
37   as  10
38   as  10
39   as   R
..   ..  ..
193  as   D
194  as   V
195  as   V
196  as   V
197  as   V

[64 rows x 2 columns]

### Solution 3 (probabiliste)

In [246]:
SEED = 1234

RNG = np.random.default_rng(SEED)   #Crée un générateur de nbr aléatoires

In [247]:
def rdm_exp(rng, Cartes): 
    return rng.permutation(Cartes).tolist()

In [248]:
rdm_exp(RNG, CARTES)                    # Mélanger les cartes

['3',
 '10',
 '9',
 '10',
 'V',
 '5',
 '9',
 '9',
 '5',
 '3',
 '7',
 '7',
 '4',
 'D',
 '6',
 '6',
 '6',
 'D',
 '9',
 '4',
 'R',
 'R',
 'D',
 'V',
 '8',
 '7',
 'as',
 '2',
 '3',
 '10',
 'R',
 'R',
 '6',
 '5',
 '10',
 'as',
 '3',
 '8',
 '4',
 'as',
 '8',
 'D',
 '7',
 'V',
 '2',
 '8',
 '2',
 '2',
 '5',
 '4',
 'as',
 'V']

In [249]:
def rdm_rep(rng, cartes, nb_rep) : 
    return [rdm_exp(RNG, CARTES) for _ in range(nb_rep)]

In [250]:
nb_rep = 500
comb = pd.DataFrame(rdm_rep(RNG, CARTES, nb_rep)) 
comb

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
0,4,10,as,5,4,as,8,6,8,6,...,2,D,8,4,9,3,V,V,R,D
1,5,4,as,9,6,10,D,6,5,V,...,8,6,2,4,3,3,2,8,V,9
2,9,4,4,5,10,R,4,2,10,7,...,3,as,R,5,6,3,D,6,9,V
3,6,V,D,D,10,10,as,2,as,3,...,4,D,6,5,2,R,4,V,3,4
4,6,as,5,D,8,D,7,9,4,R,...,9,9,D,4,D,7,3,2,5,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,4,6,3,D,R,10,as,10,9,4,...,6,V,3,R,D,as,R,3,as,2
496,6,2,7,3,as,9,R,7,8,R,...,7,V,3,9,6,5,D,V,2,9
497,7,D,10,V,3,10,8,as,10,2,...,8,D,5,7,7,as,2,V,4,3
498,V,4,3,8,R,as,10,D,6,8,...,9,4,R,R,as,3,7,2,8,7
499,as,7,4,9,8,9,R,3,9,5,...,V,D,8,10,R,D,4,6,2,5

In [251]:
comb_2 = comb.iloc[:, :2]
comb_2.columns = comb_2.columns + 1
comb_2

      1   2
0     4  10
1     5   4
2     9   4
3     6   V
4     6  as
..   ..  ..
495   4   6
496   6   2
497   7   D
498   V   4
499  as   7

[500 rows x 2 columns]

In [252]:
res = comb_2[(comb_2[1] == 'as') &  (comb_2[2].isin(['D', 'V', 'R', '10']))]
res

      1   2
15   as   R
106  as  10
123  as  10
167  as   D
203  as   V
205  as  10
255  as  10
303  as   R
382  as  10
461  as   V

In [253]:
print("Le nbr de cas correspondant est de : ", len(res))
print("La probabilité estimée est de : ", len(res) / nb_rep)

Le nbr de cas correspondant est de :  10
La probabilité estimée est de :  0.02